.section-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  height: 300px;
  width: 300px;
}

.not-found-heading {
  font-weight: 500;
  color: #334155;
}

.not-found-desc {
  color: #64748b;
}

.not-found-dark-heading,
.not-found-dark-desc {
  color: #ffffff;
}

.dark-container {
  background-color: #000000;
}
