.section-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-image {
  height: 80px;
  width: 80px;
}

.section-heading {
  color: #171f46;
}

.dark-container {
  background-color: #000000;
}

.dark-heading {
  color: #ffffff;
}
